---
import Base from "~/layouts/Base.astro";
import Header from "~/components/Header.astro";
import Hero from "~/components/Hero.astro";
import About from "~/components/About.astro";
import Suites from "~/components/Suites.astro";
import Pricing from "~/components/Pricing.astro";
import Menu from "~/components/Menu.astro";
import Map from "~/components/Map.astro";
import Payment from "~/components/Payment.astro";
import ContactCTA from "~/components/ContactCTA.astro";
import Footer from "~/components/Footer.astro";
import WhatsAppFAB from "~/components/WhatsAppFAB.astro";
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Suites />
    <Pricing />
    <Menu />
    <Map />
    <Payment />
    <ContactCTA />
  </main>
  <Footer />
  <WhatsAppFAB />
</Base>
